@import url('https://fonts.cdnfonts.com/css/katahdin-round');
@import url('https://fonts.cdnfonts.com/css/patua-one');

.ug-cards {
  @import "base";
}

.cs-thumb-modal,
.hts-thumb-modal {
  .ant-btn,
  .ant-btn:hover {
    color: #000;
    padding: 1.2rem 0.8rem;
    line-height: 1.5;
    border-radius: .3rem;
    text-transform: uppercase;
    font-weight: 600;
    border-color: #d9d9d9;
  }

  .ant-btn-primary, .ant-btn-primary:hover {
    background: #592965 !important;
    border-color: #592965;
    color: #fff;
  }
}

.hts-thumb-modal {
  width: 400px !important;
  .ant-btn-primary, .ant-btn-primary:hover {
    background: #1f2736 !important;
    border-color: #1f2736;
    color: #fff;
  }
}

.cs-crop-upload-ok-btn,
.cs-crop-upload-ok-btn:hover{
  background: #592965 !important;
  border-color: #592965;
  color: #fff;
  padding: 1.2rem 0.8rem;
  line-height: 1.5;
  border-radius: .3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.cs-crop-upload-cancel-btn,
.cs-crop-upload-cancel-btn:hover{
  color: #000 !important;
  padding: 1.2rem 0.8rem;
  line-height: 1.5;
  border-radius: .3rem;
  text-transform: none;
  font-weight: 400;
  border: none !important;
  box-shadow: none !important;
}

.cc-casting-shadows {
  padding: 20px;
}

.cc-casting-shadows h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.casting-shadows.character-card {
  overflow: hidden;
  transition: all 0.3s;
  margin: 8px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgba(206, 212, 218, 0.2);
  background-color: #fff;
}

.casting-shadows.character-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.character-image {
  padding: 0;
  text-align: center;
  background-color: #f7f7f7;
}

.character-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
}

.card-details {
  text-align: left;
  padding: 10px;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  color: #6b7073;
}

.card-details p {
  margin: 5px 0;
}

.card-details--name {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.card-details--desc {
  font-weight: normal;
  color: #555;
  display: block;
  text-align: center;
  font-size: 11px;
}

.character-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  border-top: 1px solid #e8e8e8;
  color: #888;
  padding: 8px 10px;
  font-size: 12px;
}

.character-footer .author {
  font-weight: bold;
  color: #666;
  font-size: 12px;
}

.loading-indicator {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
  color: #888;
}

.favorite {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  color: grey;
  padding: 0 10px;
}

.heart-action {
  color: grey !important;
}

.heart-action:hover {
  color: #504e4e !important;
}

.character-image {
  position: relative;
  padding: 0;
  text-align: center;
  background-color: #f7f7f7;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.dials-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-buttons .ant-btn {
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.bottom-buttons .ant-btn:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.bottom-buttons .ant-btn:first-child {
  margin-right: 20px;
}

.card-details--name, .card-details--ability {
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
}
